body {
    display: flex;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #E7ECF0;
}

.sidebar {
    position: sticky;
    top: 0; 
    width: 350px;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar .logo {
    margin-bottom: 32px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    margin-left: 40px;
    vertical-align: middle;
}

.logout {
    position: absolute;
    bottom: 20px; 
    left: 20px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.feed {
    padding-left: 3px;
    background-color: #E7ECF0;
}

h1 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 19px;
    background-color: #ffffff;
    padding-top: 50px;
    padding-left: 31px;
    padding-bottom: 12px;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 692px;
    padding: 15px 31px;
    margin: 3px 0 6px;
    border-radius: 10px;
}

.post form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    border: none; 
    border-radius: 0; 
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    resize: none;
    box-sizing: border-box;
    margin-top: 20px;
}

textarea::placeholder {
    color: #999;
    font-size: 25px; 
}

textarea:focus {
    border-color: transparent; 
    outline: none;
}

button {
    background-color: #1da1f2; 
    color: white; 
    border: none; 
    border-radius: 9999px; 
    font-size: 16px; 
    font-weight: bold; 
    width: 98px;
    height: 42px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 3px;
}

button:hover {
    background-color: #0d95e8;
}

p {
    margin-top: 2px;
}

.sidebar-post {
    width: 230px;
    height: 55px;
    margin-left: 40px;
}

small {
    color: #848788;
}

.deletebutton {
    background-color: #ff4747;
    width: 66px;
    height: 36px;
    font-size: 12px;
}

.deletebutton:hover {
    background-color:  #d82f2f;
}